name: Playwright Tests - Project 02
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
      working-directory: ./automation/playwright/projects/project_02
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      working-directory: ./automation/playwright/projects/project_02
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: automation/playwright/projects/project_02/playwright-report/
        retention-days: 30
